version:          "3.4"

x-env-files:      &env-files
  env_file:
    - .env

services:
  mysql-manager-1:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      ndb_mgmd

  mysql-manager-2:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      ndb_mgmd

  data-node-1:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      ndbd

  data-node-2:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      ndbd

  mysql-server-1:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      mysqld
    ports:
      - 3306:3306

  mysql-server-2:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      mysqld
    ports:
      - 3307:3306

  mysql-tester:
    image:        habibiefaried/mysql-ndb:latest
    <<:           *env-files
    networks:
      - db-network
    restart:      always
    command:      sleep infinity

networks:
  db-network:
