[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=0
hostname=nodemgmt
datadir=/var/lib/mysql

[ndbd]
NodeId=1
hostname=ndb1
datadir=/var/lib/mysql

[ndbd]
NodeId=2
hostname=ndb2
datadir=/var/lib/mysql

[mysqld]
NodeId=3
hostname=mysqld