[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M

[ndb_mgmd]
NodeId=0
HostName=nodemgmt
DataDir=/var/lib/mysql

[ndbd]
NodeId=1
HostName=ndb1
DataDir=/var/lib/mysql

[ndbd]
NodeId=2
HostName=ndb2
DataDir=/var/lib/mysql

[mysqld]
NodeId=3
HostName=mysqld